/*bottone + per aggiungere prodotti al carrello*/
.btnplus{
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.1;
    font-weight: normal;
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #3CCF02;
    background-image: -webkit-linear-gradient(top, #3dd402 0%, #53de1b 48%, #3CCF02 49%, #3CCF02 82%, #44eb02 100%);
    background-image: -moz-linear-gradient(top, #3dd402 0%, #53de1b 48%, #3CCF02 49%, #3CCF02 82%, #44eb02 100%);
    background-image: -o-linear-gradient(top, #3dd402 0%, #53de1b 48%, #3CCF02 49%, #3CCF02 82%, #44eb02 100%);
    background-image: linear-gradient(top, #3dd402 0%, #53de1b 48%, #3CCF02 49%, #3CCF02 82%, #44eb02 100%);
    border-color: hsl(103, 42%, 41%);
    -webkit-box-shadow: inset 0 0 1px 1px #50fd0c, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 1px 1px #50fd0c, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 1px 1px #50fd0c, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-text-shadow: 1px 1px 1px #1f6a01;
    -moz-text-shadow: 1px 1px 1px #1f6a01;
    -o-text-shadow: 1px 1px 1px #1f6a01;
    text-shadow: 1px 1px 1px #1f6a01;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    padding: 3.5999999999999996px 9px 3.5999999999999996px 9px;
  }

  .btnplus strong {
    letter-spacing: 1px;
    font-size: 22px;
  }

  .btnplus:hover {
    color: #FFFFFF;
    background-color: #40de02;
    background-image: -webkit-linear-gradient(top, #41e302 0%, #5be425 48%, #40de02 49%, #40de02 82%, #48fa02 100%);
    background-image: -moz-linear-gradient(top, #41e302 0%, #5be425 48%, #40de02 49%, #40de02 82%, #48fa02 100%);
    background-image: -o-linear-gradient(top, #41e302 0%, #5be425 48%, #40de02 49%, #40de02 82%, #48fa02 100%);
    background-image: linear-gradient(top, #41e302 0%, #5be425 48%, #40de02 49%, #40de02 82%, #48fa02 100%);
    border-color: hsl(103, 41%, 40%);
    -webkit-box-shadow: inset 0 0 1px 1px #5efd20, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 1px 1px #5efd20, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 1px 1px #5efd20, 0 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-text-shadow: 1px 1px 1px #237901;
    -moz-text-shadow: 1px 1px 1px #237901;
    -o-text-shadow: 1px 1px 1px #237901;
    text-shadow: 1px 1px 1px #237901;
  }

  .btnplus:active {
    color: #FFFFFF;
    background-color: #38c002;
    background-image: -webkit-linear-gradient(top, #35b602 0%, #3CCF02 100%);
    background-image: -moz-linear-gradient(top, #35b602 0%, #3CCF02 100%);
    background-image: -o-linear-gradient(top, #35b602 0%, #3CCF02 100%);
    background-image: linear-gradient(top, #35b602 0%, #3CCF02 100%);
    padding: 4.6px 9px 2.5999999999999996px 9px;
  }
