@media screen and (max-width: 400px) {
    .modcel
	{
		width:100%;
    height: 15%;
	}
}

@media screen and (min-width: 420px) {
    .abbassa
	{
    	margin-top:200px;
	}
}
@media screen and (max-width: 400px) {
    .abbassa
	{
    	margin-top:80px;
	}
}
@media screen and (min-width: 374px) {
    .footerfisso
	{
    	position:absolute;
      bottom:0;
      width:100%;
	}
}


.btnmodify{
  margin-top:15%;
  width: 170px;
  height: 50px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

}
