
/*link non sono sottolineati e diventano blu con il passaggio del cursore sulla parola*/
a
{
    text-decoration: none;

    color: #000000
}

a:hover
{
    text-decoration:none;
    color: #a00000;
}

/* sposto le parole al centro quando diminuisce lo spazio*/
@media screen and (max-width: 800px) {
    .sposta
	{
		text-align: center;
		float:none!important;
	}
}

/*aggiungo un margine superiore quando la larghezza è superiore a 800*/
@media screen and (max-width: 800px) {
    .abbassa
	{
		margin-top:40px;
	}
}

/*ridimensiono mappa in modalità mobile*/
@media screen and (max-width: 400px) {
    .ridimensionaM
	{
		width:350px;
    height:350px;
	}
}

/*dimensione immagine dentro al div nascosto*/
@media screen and (min-width: 400px) {
    .dimensioneN
	{
		width:400px;
    height:400px;
	}
}
@media screen and (max-width: 400px) {
    .ridimensionaI
	{
		width:250px;
    height:250px;
	}
}

/* fa in modo che quando due half si sovrappongono ,vanno ad occupare tutto lo schermo*/
@media screen and (max-width: 900px) {
    .centra
	{
		width: 100%;
	}
}


/*sposto elementi della barra di navigazione a destra*/
#navbarNav{
    justify-content:flex-end;
}


/*scritta sopra all'immagine di testata*/
.casella{
  position: relative;
  text-align: center;
  margin-top:51px;
}
.centred{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
@media screen and (max-width: 992px) {
  .abbassa{
    margin-top: 57px;
  }
}



/*cambio del simbolo quando la barra in alto si apre e si chiude in modalità mobile*/
.simbolo {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: #a00000;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
    transform: rotate(-45deg) translate(-5px, 5px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}



/* Rotate first bar */
.rechange .bar1 {
    -webkit-transform: rotate(0deg) translate(0px,0px) ;
    transform: rotate(0deg) translate(0px,0px) ;
}

/* Fade out the second bar */
.rechange .bar2 {
    opacity: 100;
}

/* Rotate last bar */
.rechange .bar3 {
  -webkit-transform: rotate(0deg) translate(0px,0px) ;
  transform: rotate(0deg) translate(0px,0px) ;
}




/*contenitori realizzazioni*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 90px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.realizzazione {
    padding: 2px 16px;
}





/*finestra a comparsa*/
#myDIV{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightgray;
    margin-top: 20px;
}
